<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    ServerName {{ item.servername }}
    DocumentRoot {{ item.docroot }}
    ServerAlias {{ item.serveralias }}

{% for env_var in item.env_vars %}
    SetEnv {{ env_var.name }} {{ env_var.value }}
{% endfor %}

{% for php_env_var in item.php_env_vars %}
    php_value {{ php_env_var.name }} {{ php_env_var.value }}
{% endfor %}

    <Directory {{ item.docroot }}>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>